<h1>Exemplos de Event Binding: </h1>
<input type="text"
    [value]="valorDoInput"
    (keyup)="digitouAlgo($event)">
<br>
<br>
<button (click)="onClickBotaoEmissor($event)">
  Emitir informação de clique
</button>
<br>
<br>
<button (click)="onClick($event)"
    (mouseenter)="passouMouseAqui()">
    Clique em mim
</button>
  Valor Do Input : {{valorDoInput}}
<br>

<h1>Exemplos de Property Binding: </h1>
<p> Palavra: {{word}} {{color}}</p>

<input type="text" [value]="initialValue">
<br>

<button [disabled]="isDisabled">Clique em mim!</button>
<br>

<p [attr.aria-label]="isDisabled ? 'Botão desabilitado' : accessibilityText">
  Lorem ipsum dolor sit amet, consect Lorem ipsum dolor sit
</p>

<br>

<img [src]=" imageURL ">
